/*Global*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    font-family: 'Helvetica Neue', 'Arial', sans-serif;
    margin: 0 auto;
    width: 90%;
    font-size: 0.8rem;
}
header {
    min-height: 6rem;
    background-color: #AEE8BF;
    padding: 1rem 1.5rem;
}
footer {
    background-color: #AEE8BF;
    padding: 1rem 1.5rem;
}

main {
    padding: 1rem;
    background: linear-gradient(to bottom right, #FFFEE6, #B3E0FF);
    background-color: #FFFEE6;
}
h1 {
    font-size: 3rem;
    font-weight: 100;
    margin: 0;
}
h2 {
    font-weight: 100;
    margin: 0;
}
caption {
    font-weight: 200;
    margin:0 
}
code {
    font-weight: bold;
}

/*Table*/

table {
    width: 100%;
    margin-bottom: 1rem;
}
caption {
    background-color: rgba(255, 254, 230, 1);
    border-bottom: 1px solid #B3E0FF;
}
td {
    vertical-align: top;
    padding: 0.5rem;
    margin:0;
    border-bottom: 1px solid rgba(255, 254, 230, 0.5);
}
td:first-child {
    width: 220px;
    background-color: rgba(255, 254, 230, 0.5);
}

/*Media Queries*/
@media(max-width: 700px) {
    table, thead, tbody, th, td, tr, table caption { 
    display: block; 
    }

    table {
        width: 100%;
    }
    td:first-child {
        width: auto;
        padding: 0rem 0.5rem;
    }
}